html {
     --first-color: purple;
     scroll-behavior: smooth;
}
body {
    font-family: Shabnam;
}

/*SOCIAL*/
.home-social {
    width: 3rem;
    height: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.social-icons-list {
    list-style: none;
    padding-left: 0;
}

.social-icons-list li {
    font-size: 2rem;
    padding: 0.2rem 0;
    
}

a:link{
    color: #bbb;
    
}

a:hover{
    color: #bbb;
    transition:color .5s;
}
/*end of SOCIAL*/

/*HOME*/
.home {
    display:flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding:0 10rem;
}

.home-img-profile{
    max-width: 400px;
    background: url(../img/profile.png.jpg/);
    background-size: cover;
    animation: shape 5s linear infinite;
}
@keyframes shape {
    0%, 100% {border-radius:
    40% 60% 70% 30% / 40% 40% 60% 50%;}
    33% {border-radius:
    70% 30% 50% 50% / 30% 30% 70% 70%;}
    66% {border-radius:
    100% 60% 60% 100% / 100% 100% 60% 60%;}
}

.home-info h1{
    font-family: Shabnam;
    text-align: right;
    font-size: 2.5rem;
    line-height: 1.7;
}

.home-info-name {
    color: var(--first-color);
    position: relative;
}
.home-info-name::after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    background-color:rgb(126, 21, 126);
    animation : swipe-in 1s;
     
}
@keyframes swipe-in {
    0%{
        width: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

.button {
    display: inline-block;
    background-color: purple;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    text-align: center;
    
}
.button:hover{
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.514);
}
.button:active{
    transform: translate(5px,5px);
}
/*end of HOME*/

/*section*/
section {
    width: 60%;
    height: 100vh;
    padding:0 20%;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 2rem;
    color: var(--first-color);
    border-bottom: 2px solid var(--first-color);
}

/*end of section*/
.about-container {
    display: flex;
    align-items: center;
}

.about-img img {
    width: 300px;
    border-radius:1rem;
}

.about-subtitle , .about-text {
    direction: rtl;
    line-height:1.8;
    margin-right: 5rem;
}
/*end of about */

/*skills*/
.skills-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.skills-img img{
    width: 250px;
    border-radius: 1rem;
}

.skills-subtitle , .skills-text{
    direction: rtl;
    line-height: 1.8;
}

.skills-body{
    margin-left: 5rem;
}

.skill-info{
    display: flex;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius:.8rem .8rem .2rem .2rem;
    justify-content:space-between;
    padding: .5rem 1rem;
    align-items:center;
    position:relative;
    margin-top: 1.2rem;
}

.skill-logo{
    color: var(--first-color);
    font-size:1.5rem;
}

.skill-bar{
    position:absolute;
    background-color: var(--first-color);
    height: .25rem;
    left: 0;
    bottom: 0;
}

.pencil , .siah{
    width: 50%;
}

.acrylic{
    width: 40%;
}

.pastel{
    width: 70%;
}
/* end of skills */

/*project*/
.project-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.images-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-img{
    width: 87%;
    height: 87%;
    vertical-align: middle;
    transition: all 1s;

    
}

.project-img:hover{
    transform: scale(1.4);
    
}

.img-wrapper{
    overflow: hidden;
}
/*end of project*/

/* contact */
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

}

.contact-form{
    display: flex;
    flex-direction: column;
   
}

.contact-form *{
    font-size:1.4rem;
    border: 2px solid #000;
    border-radius: .5rem;
    padding: .3rem;
    margin: .3rem;
    direction: rtl;
}

h3{
    color: var(--first-color);
    text-align: center;
    line-height: 1.5;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.514);
    border-radius: .5rem;
}


/*end of contact */

/* Nav */
.nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4rem;
    background-color: #fff;
    z-index: 100;

}

.nav-list ul {
    display: flex;
    list-style: none;
    direction: rtl;
}

.nav-list ul li a{
    text-decoration: none;
    padding:0 .6rem;
    color: var(--first-color);
    font-size: 1.1rem;
    margin: 0 .4rem;
}

.nav-list ul li a:hover{
    color:palevioletred;
    transition: color .5s;
}

.nav-list{
    display: flex;
    justify-content:center;
}

/* end of Nav */





/*FONT*/
@font-face {
    font-family: Shabnam;
    src: url("../font/Shabnam-Bold-FD.eot"); 
    src: url("../font/Shabnam-Bold-FD.eot?#iefix") format("FontName-opentype"), 
    url("../font/Shabnam-Bold-FD.woff") format("woff"), 
    url("../font/Shabnam-Bold-FD.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/*end of FONT*/

/* MEDIA QUERIES */
@media(max-width:1300px){
    section {
        width:80%;
        padding: 0 10%;
    }
}
@media(max-width:1200px){
    section {
        width:90%;
        padding: 0 5%;
        min-height: 100vh;
    }
    .home-img-profile{
        width:300px;
    }
    .home-info h1{
        font-size:2.3rem;
    }
}
@media(max-width:1000px){

    .home-info h1{
        font-size:2rem;
    }

     .home-img-profile{
        width:200px;
    }
}

@media(max-width:800px){

    .home{
        flex-direction: column;
        justify-content: center;
    }

    .images-container{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    section{
        width: 80%;
        padding: 0 10%;
    }
    .home{
        row-gap: 1rem;
    }
}

@media(max-width:600px){

    .nav-bar{
        visibility: collapse;
    }
    .home-info h1{
        font-size: 1rem;
        text-align: center;
    }
}

/* end of MEDIA QUERIES */



